.gridWrap {
    padding: 0px 105px !important;
    margin-bottom: 7rem;

    .gridTextWrap {
        margin-top: 110px;

        .title {
            font-family: Inter;
            font-size: 18px;
            font-weight: 600;
            line-height: 28px;
            letter-spacing: 0em;
            text-align: left;
            color: #101828;
        }

        .subTitle {
            font-family: Inter;
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0.01em;
            text-align: left;
            color: #667085;
        }
    }

    .cellsWrap {
        padding: 0px 12px;
        background-image: repeating-linear-gradient(120deg, #cacdd5, #cacdd5 3px, transparent 0px, transparent 5px, #cacdd5 0px), 
                          repeating-linear-gradient(210deg, #cacdd5, #cacdd5 3px, transparent 0px, transparent 5px, #cacdd5 0px), 
                          repeating-linear-gradient(-60deg, #cacdd5, #cacdd5 3px, transparent 0px, transparent 5px, #cacdd5 0px), 
                          repeating-linear-gradient(30deg, #cacdd5, #cacdd5 3px, transparent 0px, transparent 5px, #cacdd5 0px);
        background-size: 1px 100%, 100% 1px, 1px 100%, 100% 1px;
        background-position: 0 0, 0 0, 100% 0, 0 100%;
        background-repeat: no-repeat;
        border-radius: 5px;



        //---------- Small Col Cell -----------
        .smallCol {
            padding: 12px;
            background-image: repeating-linear-gradient(0deg, #ffffff00, #ffffff00 0px),
                repeating-linear-gradient(0deg, #ffffff00, #ffffff00 0px),
                repeating-linear-gradient(-60deg, #cacdd5, #cacdd5 3px, transparent 0px, transparent 5px, #cacdd5 0px),
                repeating-linear-gradient(30deg, #cacdd5, #cacdd5 3px, transparent 0px, transparent 5px, #cacdd5 0px);
                background-size: 0px 100%, 100% 1px, 1px 87%, 100% 1px;
            background-position: 0 0, 0 0, 100% 12px, 0 100%;
            background-repeat: no-repeat;

            .picWrap {
                height: 180px;
                background: #F2F4F7;
                border: 1.5px solid #F2F4F7;
                border-radius: 12px;
                display: flex;
                justify-content: center;
                align-items: center;

                .image-container {
                    position: relative;
                    display: inline-block;
                    height: 180px;
                    width: 100%;

                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 12px;
                    }

                    .overlay {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        background-color: #00000099;
                        color: white;
                        border: none;
                        padding: 5px;
                        cursor: pointer;
                        opacity: 0.7;
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                        display: none;

                        .row {
                            height: 100%;
                            align-items: center;
                            margin-right: unset;
                            margin-left: unset;

                            .hoverIconsWrap {
                                display: flex;
                                justify-content: space-between;
                                padding-right: unset;
                                color: white;
                            }
                        }

                    }

                    .noPicOverlay {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        background-color: #EDEFF2;
                        color: white;
                        border: none;
                        padding: 5px;
                        cursor: pointer;
                        opacity: 0.7;
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                        display: none;

                        .row {
                            height: 100%;
                            align-items: center;
                            margin-right: unset;
                            margin-left: unset;

                            .addImageWrap {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                color: #98A2B3;
                                font-size: 14px;
                                font-weight: 600;
                            }
                        }

                    }
                }

                .image-container:hover .overlay {
                    display: block;
                }

                .image-container:hover .noPicOverlay {
                    display: block;
                }
            }
        }



        //---------- Large Col Cell -----------    
        .largeCol {
            padding: 12px;
            border: 1.5px dashed #c2c2c2;

            .picWrap {
                height: 180px;
                background: #F2F4F7;
                border: 1.5px solid #F2F4F7;
                border-radius: 12px;
                display: flex;
                justify-content: center;
                align-items: center;

                .image-container {
                    position: relative;
                    display: inline-block;
                    height: 180px;
                    width: 100%;

                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 12px;
                    }

                    .overlay {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        background-color: #00000099;
                        color: white;
                        border: none;
                        padding: 5px;
                        cursor: pointer;
                        opacity: 0.7;
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                        display: none;

                        .row {
                            height: 100%;
                            align-items: center;
                            margin-right: unset;
                            margin-left: unset;

                            .hoverIconsWrap {
                                display: flex;
                                justify-content: space-between;
                                padding-right: unset;
                                padding-left: 32px;
                                color: white;
                            }
                        }

                    }
                }

                .image-container:hover .overlay {
                    display: block;
                }
            }
        }
    }
}
